.footerContent {
    margin-top: 40px;
    font-size: 13px;
    text-align: center;
    color: rgb(255, 255, 255);
}
  
.footerLink {
    color: rgb(255, 255, 255);
}
  
.footerLink:hover {
    color: rgb(230, 230, 230);
}