.form__listUnordered {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 20px;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 720px) {
    .form__listUnordered {
        grid-template-columns: 1fr;
        gap: 20px 0;
    }
}

.form__label {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: end;
    gap: 10px;
}

@media screen and (max-width: 400px) {
    .form__label {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 7px 3px;
    border: none;
    border-bottom: 1px solid rgb(190,88,105);
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    transition: background .3s;
}

.form__input:focus, .form__input:hover {
    border-color: rgb(64,58,62);
    outline: none;
}
  
.form__button {
    padding: 7px 15px;
    border: none;
    background: rgb(190,88,105);
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255,255,255);
    cursor: pointer;
    transition: background .3s;
}

@media screen and (max-width: 400px) {
    .form__button {
        padding: 15px;
    }
}
  
.form__button:hover {
    background: rgb(163,81,95);
}

.sectionForm__response {
    display: none;
    padding: 13px;
    color: rgb(255,255,255);
    text-shadow: 1px 1px 4px rgb(71,49,54);
}

.form__error {
    display: none;
    padding: 8px;
    background: rgb(163,81,95);
    color: rgb(255,255,255);
}

.form__error--show {
    display: block;
}

.unordered {
    padding-left: 20px;
    list-style: none;
}
  
.unordered__ittem {
    padding: 3px 0;
}
  
.unordered__ittem::before {
    content: "\2611";
    margin-right: 8px;
}